<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Engine" type="Teclyn.Web.Configuration.Configuration, Teclyn.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <Engine
    WebsiteName="Qme-DEBUG"
    WebsiteUrl=""
    WebsiteDescription=""
    Copyright="Lyssandre"
    DefaultConnectionString=""
    Database=""
    OpenIdProvider=""
    MyAccountUrl=""
    LogOffUrl=""
    PaymentUrl=""
    ElasticSearchUri=""
    MongodbReplicationHost=""
    MongodbReplicationPort=""
    FacebookAppId=""
    FacebookAdminId=""
    FacebookAppSecret=""
    LinkedInApiKey=""
    LinkedInApiSecret=""
    LinkedInOAuthToken=""
    LinkedInOAuthSecret=""
    TwitterApiKey=""
    TwitterApiSecret=""
    TwitterOAuthToken=""
    TwitterOAuthSecret=""
    ViadeoAppId=""
    AnalyticsAccount=""
    AnalyticsProperty=""
    ConnectEndpoint=""
    ConnectPlugId=""
    ConnectPlugSecret=""
          AradiaPlugName=""
      AradiaPlugSecret=""
    EnableErrorEmails="true"
    TechnicalEmail="klejeune@parmenide.fr"
    ReplyToEmail="klejeune@parmenide.fr"
    ContactEmail="klejeune@parmenide.fr"
    SmtpServer="localhost:25"
    SmtpServerUsername=""
    SmtpServerPassword=""
    EnableLibTypeSearch="false"
    DebugMode="false"
    EnableOnlineUsers="false"
    EnablePageViewLogs="true"
    DataPath=""
    EnableUserGeolocation="false"
    />
</configuration>